body {
  font-family: 'Raleway',sans-serif;
  font: 34px ;
  margin: 20px;
}
input {
  margin: auto auto;
}
ol,
ul {
  padding-left: 50px;
}

.square {
  background: #fff;
  border: 1px solid rgb(208, 9, 9);
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.hover:hover {
  outline: none;
  background-color: #ffcdb2;
}

.wrapper {
  display: flex;
}
.game-info {
  margin-left: 20px;
}
/* form */
.form-action {
  width: 500px;
  margin: auto auto;
}
.form-action label {
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.form-action input {
  display: block;

  padding: 20px 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.form-action .input-one {
  color: red;
}
.form-action .input-two {
  color: blue;
}
.form-action .input-amount {
  color: rgb(13, 123, 39);
}
.submit {
  margin: 30px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  background-color: #22223b;
  color: #f2e9e4;
  border-radius: 7%;
}
.submit:hover {
  background-color: #eae2b7;
  color: #003049;
}
/* status  */

.player,
.color-one,
.color-two,
.status,
.name {
  font-weight: bold;
  font-size: 30px;
}
.color-one {
  color: Red;
}
.color-two {
  color: blue;
}
.name {
  color: #577399;
}
